.left_pane {
    -fx-background-color: #243642;
}

.main_pane {
    -fx-background-color: #E2F1E2;
}

.menu_bar {
    -fx-background-color: #387478;
}

.button {
    -fx-background-color: #629584;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: #7aa892;
}

.title {
    -fx-alignment: center;
    -fx-text-fill: #015778;
    -fx-font-family: "Tahoma";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-alignment: center;
    -fx-background-color: #d0ddd0;
    -fx-background-radius: 5;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #243642;
}

.product_display {
    -fx-background-color: #d8e5d8;
    -fx-background-radius: 5;
    -fx-border-color: #d6d6d6;
    -fx-text-fill: #243642;
    -fx-font-family: "Tahoma";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}

.cost_display {
    -fx-background-color: #d8e5d8;
    -fx-background-radius: 10;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 10;
    -fx-alignment: center;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #243642;
}

.subcost_display {
    -fx-background-color: #d8e5d8;
    -fx-background-radius: 10;
    -fx-border-color: #d6d6d6;
    -fx-border-radius: 10;
    -fx-alignment: center;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #243642;
}

.text-field {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 3;
    -fx-border-color: #d6d6d6;
    -fx-border-radius: 3;
    -fx-text-fill: #243642;
}

.client_display {
    -fx-background-color: #d8e5d8;
    -fx-background-radius: 5;
    -fx-border-color: #d6d6d6;
    -fx-text-fill: #243642;
    -fx-font-family: "Tahoma";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-alignment: CENTER_LEFT;
}

.client_display:hover {
    -fx-background-color: #cddacd;
}

.client_display:focused {
    -fx-background-color: #629584;
    -fx-text-fill: #E2F1E2;
}